body{
    background-color: rgb(12, 90, 12);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1{
    color:goldenrod;
    font-size: 4rem;
}
p{
    font-size: 2rem;
    font-weight: 600;
}
#message-el{
    font-style: italic;
}
button{
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    background-color: goldenrod;
    border-radius: 5px;
    color : #016f32;
    font-weight: bold;
    border:none;
    margin-bottom: 5px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}